<div class="govuk-grid-column-one-third">

  <aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
      Get help
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="#">
            Related link
          </a>
        </li>
        <li>
          <a href="#">
            Related link
          </a>
        </li>
        <li>
          <a href="#" class="govuk-!-font-weight-bold">
            More <span class="govuk-visually-hidden">in Subsection</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

</div>
