{% extends "layout.html" %}

{% block pageTitle %}
  Postcode
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  <a class="govuk-back-link" href="/apply/v1/sortcode">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What are the last 4 digits of the bank account your PIP or DLA is paid into?</h1>

      <form class="form" action="/apply/v1/last-payment" method="post">

        <div class="govuk-form-group">

        <input class="govuk-input govuk-input--width-4" id="width-4-" name="width-4" type="text">
        </div>


        <button class="govuk-button">Continue</button>

      </form>
    </div>

  </div>

{% endblock %}
