{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  <a class="govuk-back-link" href="/apply/v1/summary">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Completed</h1>
        <div class="govuk-panel__body">
          Give this reference number to your local council<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We've sent your PIP or DLA information to Leeds City Council.</p>
      <p>Give them your reference number so they can access your information for your Blue Badge application.</p>
      <p>They'll let you know the outcome of your Blue Badge application within x weeks or contact you for more information.</p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
