{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  <a class="govuk-back-link" href="/apply/v1/summary">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Completed</h1>
        <div class="govuk-panel__body">
          Give this reference number to your local council<br><strong>HDJ2123F</strong>
        </div>
      </div>


      <p>Your PIP information has been sent to your local council.</p>
      <p>They need your reference number to get your information and process your Blue Badge application.</p>
      <p><a href="https://www.gov.uk/blue-badge-scheme-information-council/wakefield">
        Find your local council
      </a></p>


      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Your local council will let you know the outcome of your Blue Badge application in 6 to 8 weeks or contact you for more information.</p>
      <p>Contact them if you haven’t heard back within 6 to 8 weeks.</p>




      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Get help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
