{% extends "layout.html" %}

{% block pageTitle %}
  Date of birth
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  <a class="govuk-back-link" href="/apply/v1/name">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/apply/v1/postcode" method="post">

        <div class="govuk-form-group">
    		  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    		    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    		      <h1 class="govuk-fieldset__heading">
    		        What is your date of birth?
    		      </h1>
    		    </legend>
    		    <span id="dob-hint" class="govuk-hint">
    		      For example, 31 3 1980
    		    </span>
    		    <div class="govuk-date-input" id="dob">
    		      <div class="govuk-date-input__item">
    		        <div class="govuk-form-group">
    		          <label class="govuk-label govuk-date-input__label" for="dob-day">
    		            Day
    		          </label>
    		          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
    		        </div>
    		      </div>
    		      <div class="govuk-date-input__item">
    		        <div class="govuk-form-group">
    		          <label class="govuk-label govuk-date-input__label" for="dob-month">
    		            Month
    		          </label>
    		          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
    		        </div>
    		      </div>
    		      <div class="govuk-date-input__item">
    		        <div class="govuk-form-group">
    		          <label class="govuk-label govuk-date-input__label" for="dob-year">
    		            Year
    		          </label>
    		          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
    		        </div>
    		      </div>
    		    </div>
    		  </fieldset>
    		</div>


        <button class="govuk-button">Continue</button>

      </form>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Get help
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
