{% extends "layout.html" %}

{% block pageTitle %}
  Info not found
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  <a class="govuk-back-link" href="/apply/v1/last-payment">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Something's gone wrong</h1>

      <form class="form" action="/apply/v1/summary" method="post">



        <button class="govuk-button">Continue</button>

      </form>
    </div>

  </div>

{% endblock %}
