{% extends "layout.html" %}

{% block pageTitle %}
  contact
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  {% include '../../includes/back-button.njk' %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <form id="form" method="post" action="prove-id">

        
        {{ govukRadios({
          idPrefix: "thirdParty",
          name: "thirdParty",
          fieldset: {
            legend: {
              text: "Whose PIP or DLA information do you want to share?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "no",
              text: "My own"
            },
            {
              value: "yes",
              text: "Someone else's"
            }
          ]
        }) }}


   

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- residency -->

    </form>

  <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->


<script>
  var nextPageRoutes = {
    yes: 'third-party-info.html',
    no: 'prove-id.html'
  }
</script>
  {% endblock %}