{% extends "layout.html" %}

{% block pageTitle %}
  Benefits
{% endblock %}

{% block beforeContent %}
{% include '../../includes/phase-banner.njk' %}
<a class="govuk-back-link" href="carers-name">Back</a>
{% endblock %}

{% block content %}

<form class="form" action="last-payment" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Prove who you are</span>

        {{ govukCheckboxes({
          idPrefix: "benefits",
          name: "benefits",
          fieldset: {
            legend: {
              text: "Do you get any of these benefits?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "ja",
              text: "Jobseeker's Allowance"
            },
            {
              value: "esa",
              text: "Employment &amp; Support Allowance"
            },
            {
              value: "dla",
              text: "Disability Living Allowance"
            },
            {
              value: "pip",
              text: "Personal Independence Payment"
            },
            {
              value: "uc",
              text: "Universal Credit"
            },
            {
              value: "none",
              text: "None of these"
            }
          ]
        }) }}

        <button class="govuk-button">Continue</button>

    </div>
  </div>
</form>

{% endblock %}
