{% extends "layout.html" %}

{% block pageTitle %}
  Date of birth
{% endblock %}

{% block beforeContent %}
{% include '../../includes/phase-banner.njk' %}

    {{ govukBackLink({
      text: "Back",
      href: "data-match-postcode"
    }) }}

{% endblock %}

{% block content %}

<form class="form" action="prove-1" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Prove who you are</span>


        {{ govukDateInput({
          id: "dob",
          namePrefix: "dob",
          fieldset: {
            legend: {
              text: "What is your date of birth?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 31 3 1980"
          },
          items: [
            {
              name: "day",
              classes: "govuk-input--width-2",
              autocomplete: "bday-day"
            },
            {
              name: "month",
              classes: "govuk-input--width-2",
              autocomplete: "bday-month"
            },
            {
              name: "year",
              classes: "govuk-input--width-4",
              autocomplete: "bday-year"
            }
          ]
        }) }}

        <button class="govuk-button">Continue</button>

    </div>
  </div>
</form>
{% endblock %}
