{% extends "layout.html" %}

{% block pageTitle %}
  Prove who you are
{% endblock %}

{% block beforeContent %}
{% include '../../includes/phase-banner.njk' %}
<a class="govuk-back-link" href="prove-id">Back</a>
{% endblock %}

{% block content %}
<form class="form" action="data-match-name" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Prove who you are</h1>



        <p>If you continue:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>you'll be asked a few questions to prove who you are</li>
          <li>the Department for Work and Pensions will search its records to find your Disability Living Allowance information</li>
          
        </ul>

        <p><strong>The answers you provide will not be shared with your council. They are only used to confirm who you are.</strong></p>


        <button class="govuk-button">I understand – continue</button>

     </div> 
  </div>
</div>

{% endblock %}
