{% extends "layout.html" %}

{% block pageTitle %}
Summary
{% endblock %}

{% block beforeContent %}
{% include '../../includes/phase-banner.njk' %}
<a class="govuk-back-link" href="last-payment">Back</a>
{% endblock %}





{% block content %}
<form class="form" action="contact-pref" method="post">

<div class="govuk-grid-row guidance-layout" style="margin-right:0; margin-left:0">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Your benefit information</h1>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
              {{ data['first-name'] }} {{ data['last-name'] }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            Personal Independence Payment (PIP)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Moving around score
          </dt>
          <dd class="govuk-summary-list__value">
            12 points
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PIP end date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">1 January 2020</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PIP start date
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">20 February 2016</p>
          </dd>
        </div>
      </dl>
    </div>

    <div class="govuk-grid-column-two-thirds">
  
      <p class="govuk-!-margin-top-2">If you continue, the Department for Work and Pensions will share your benefit information with <strong>Leeds City Council</strong>.</p>
      <button class="govuk-button">I understand – share with my council</button>

    </div>


  </div>
 

  {% endblock %}
