{% extends "layout.html" %}

{% block pageTitle %}
  Child's name
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  <a class="govuk-back-link" href="partner-dob">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What is your youngest child's first name?
          </h1>
        </legend>

        <input class="govuk-input govuk-input--width-30" id="child-name" name="child-name" type="text" spellcheck="false">
      </div>

      <form class="form" action="last-payment" method="post">

        <button class="govuk-button">Continue</button>

      </form>
    </div>

  </div>

{% endblock %}
