{% extends "layout.html" %}

{% block pageTitle %}
  contact
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  <a class="govuk-back-link" href="contact-details">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form id="form" method="post" action="confirmation">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            How do you want to be contacted?
          </h1>
        </legend>
        <span id="contact-hint" class="govuk-hint">
        Your contact details will only be used to confirm your benefit information has been received.
        </span>

        <div class="govuk-radios" data-module="radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" aria-controls="conditional-how-contacted-conditional-1" aria-expanded="false">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
              Email
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-email">
                Email address
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email">
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="text" aria-controls="conditional-how-contacted-conditional-2" aria-expanded="true">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
              Text message
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
                Mobile phone number
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="how-contacted-conditional-4" name="how-contacted" type="radio" value="none" data-aria-controls="conditional-how-contacted-conditional-4">
            <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-4">
              None of these, I don't want to be contacted
            </label>
          </div>

        </div>
      </fieldset>
    </div>

    <input type="submit" class="govuk-button" value="Continue" id="submit"><!-- residency -->

    </form>

  <div><!-- govuk-grid-column-two-thirds -->
<div><!-- govuk-grid-row -->

        </div></div></div></div></main>
      </div>

{% endblock %}
