{% extends "layout.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  <a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Enter your personal details</h1>

      <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
      First name
      </label>
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
      </div>

      <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
      Last name
      </label>
      <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
      </div>

      <div class="govuk-form-group">
      <label class="govuk-label" for="width-20">
      Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
          <label class="govuk-label" for="width-20">
          Date of birth
          </label>
          <span id="dob-hint" class="govuk-hint">
            For example, 31 3 1980
          </span>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <p class="govuk-fieldset__heading">
              If you continue, the Department for Work and Pensions (DWP) will search information it holds about you. This is to find relevant information about benefits you get from DWP that might help you get a Blue Badge.
            </p>
          </legend>
          <div class="govuk-checkboxes govuk-checkboxes--small">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-1" name="organisation" type="checkbox" value="understand">
              <label class="govuk-label govuk-checkboxes__label" for="organisation-1">
                I understand
              </label>
            </div>
          </div>
        </div>


        <form class="form" action="nino" method="post">




        <button class="govuk-button">Continue</button>

      </form>
    </div>
  </div>

{% endblock %}
