{% extends "layout.html" %}

{% block pageTitle %}
  Date of birth
{% endblock %}

{% block beforeContent %}
{% include '../../includes/phase-banner.njk' %}
<a class="govuk-back-link" href="marriage-date">Back</a>
{% endblock %}

{% block content %}

<form class="form" action="benefits-select" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Prove who you are</span>
  <h1 class="govuk-heading-l">Does anybody get Carer's Allowance for looking after you?</h1>

  <div class="govuk-radios" data-module="radios">

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="how-contacted-conditional-1" name="how-contacted" type="radio" value="email" aria-controls="conditional-how-contacted-conditional-1" aria-expanded="false">
      <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-1">
        Yes
      </label>
    </div>
    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-how-contacted-conditional-1">
        <label class="govuk-label" for="contact-by-email">
          Enter their full name
        </label>
        <input class="govuk-input govuk-!-width-full" id="contact-by-email" name="contact-by-email" type="email">
    </div>

    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="how-contacted-conditional-2" name="how-contacted" type="radio" value="text" aria-controls="conditional-how-contacted-conditional-2" aria-expanded="true">
      <label class="govuk-label govuk-radios__label" for="how-contacted-conditional-2">
        No
      </label>
    </div>


</div>




    <button class="govuk-button">Continue</button>







</div>
  </div>

{% endblock %}
