{% extends "layout.html" %}

{% block pageTitle %}
  Name
{% endblock %}

{% block beforeContent %}
{% include '../../includes/phase-banner.njk' %}
<a class="govuk-back-link" href="start">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">What is your full name?</h1>
    <form class="form" action="data-match-postcode" method="post">
      <div class="govuk-form-group">
        <input class="govuk-input govuk-input--width-20" id="width-20" name="full-name" type="text" value="{{data['full-name']}}">
      </div>
      <button class="govuk-button">Continue</button>

  </div>

{% endblock %}
