{% extends "layout.html" %}

{% block pageTitle %}
  Date of birth
{% endblock %}

{% block beforeContent %}
{% include '../../includes/phase-banner.njk' %}
<a class="govuk-back-link" href="prove-1">Back</a>
<form class="form" action="gp-surgery" method="post">
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Prove who you are</span>

    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">When did you get married?</h1>
      <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
        <span id="dob-hint" class="govuk-hint">
          For example, 31 3 1980
        </span>
        <div class="govuk-date-input" id="marriage-date">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="marriage-date-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="marriage-date-day" name="marriage-date-day"
                type="number" pattern="[0-9]*" value="{{data['marriage-date-day']}}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="marriage-date-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="marriage-date-month" name="marriage-date-month"
                type="number" pattern="[0-9]*" value="{{data['marriage-date-month']}}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="marriage-date-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="marriage-date-year" name="marriage-date-year"
                type="number" pattern="[0-9]*" value="{{data['marriage-date-year']}}">
            </div>
          </div>
        </div>
      </fieldset>
    </div>

      <button class="govuk-button">Continue</button>

  </div>

{% endblock %}
