{% extends "layout.html" %}

{% block pageTitle %}
Summary
{% endblock %}

{% block beforeContent %}
{% include '../../includes/phase-banner.njk' %}
<a class="govuk-back-link" href="contact-pref">Back</a>
{% endblock %}





{% block content %}
<form class="form" action="confirmation" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">Your benefit information</h1>

    <p>If you continue, the Department for Work and Pensions will share your benefit information with your council.</p>









      <button class="govuk-button">I understand, share with my council</button>

  </div>
  <div class="govuk-grid-column-one-third">
  </div>

  {% endblock %}
