{% extends "layout.html" %}

{% block pageTitle %}
  Name
{% endblock %}

{% block beforeContent %}
{% include '../../includes/phase-banner.njk' %}

    {{ govukBackLink({
      text: "Back",
      href: "start"
    }) }}

{% endblock %}

{% block content %}
<form class="form" action="create-account-name" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Create an account</h1>

      <p>To share your benefit information you first need to create an account. You can use your account to share benefit information for yourself and others.</p>
      

        {{ govukButton({
          text: "Create account"
        }) }}

        <p>Already have an account? <a href="#">Sign in</a>.</p>

    </div>
  </div>
</form>
{% endblock %}
