{% extends "layout.html" %}

{% block pageTitle %}
  Last payment
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  <a class="govuk-back-link" href="benefits-select">Back</a>
{% endblock %}

{% block content %}
<form class="form" action="identity-confirmed" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

		<span class="govuk-caption-xl">Prove who you are</span>

			{{ govukDateInput({
				id: "last-payment",
				namePrefix: "last-payment",
				fieldset: {
				  legend: {
					text: "When did your last benefit payment go in your bank account?",
					isPageHeading: true,
					classes: "govuk-fieldset__legend--l"
				  }
				}, 
				hint: {
				  text: "For example, 12 11 2007"
				}
			  }) }}


		<button class="govuk-button">Continue</button>
		
		<p><a href="identity-confirmed">I don't know the date of my last payment</a></p>

    </div>
  </div>
</form>
{% endblock %}
