{% extends "layout.html" %}

{% block pageTitle %}
  Signed in
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  <a class="govuk-back-link" href="prove-id">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">You've signed in</h1>

      <form class="form" action="council" method="post">
        <button class="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
