
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Share information for your Blue Badge application
        <span class="govuk-caption-xl">v2</span>
      </h1>{{releaseVersion | log }}
      <h2 class="govuk-heading-s">Created: 7 May 2019</h2>

      <p>Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>removed reference code from confirmation page</li>
        <li>changed 'Complete' to 'Sent' on confirmation page</li>
        <li>changed 'local council' to 'council'</li>
        <li>added 'Find you council' limnk to council page</li>
        <!-- <li>added email or text confirmation message request option</li>
        <li>added consent statement to test in user research (note: not needed for Blue Badge)</li> -->
      </ul>

      <p>Research showed:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>finding 1</li>
        <li>finding 2</li>
        <li>finding 3</li>

      </ul>


      <!-- <p>Caveats:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li></li>
        <li></li>
        <li></li>
        <li>
      </ul> -->


      <p>
        <a href="/apply/v2/start" class="govuk-button">Open prototype</a>
      </p>

       <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Other prototype versions
          </span>
        </summary>
        <div class="govuk-details__text">

            <span class="govuk-caption-xl">v1</span>
          </h1>{{releaseVersion | log }}
          <h2 class="govuk-heading-s">Created: 16 April 2019</h2>

          <p>Changes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>prototype created</li>
          </ul>

          <p>Research showed:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>some users wrongly thought the service is to apply for a Blue Badge</li>
            <li>some users would drop out if they had to create an ID account</li>
            <li>all users were able to select their council from 4 radio buttons</li>
            <li>some users expected to see a list of addresses to select after enetering a postcode– but address isn't needed</li>
            <li>all users understand what will happen to their PIP or DLA info when they click 'Send to your council'</li>
            <li>all users were confused about what the reference code is for and what to do next on the last page</li>
          </ul>


          <p>Caveats:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>we don't know yet what the best way for users to prove who they are is (Government Gateway is just one example)
            <li>private beta will cover information sharing for a small number of councils</li>
            <li>this version is for a stand-alone service for citizens who apply for a Blue Badge using their local council's online service or paper form</li>
            <li>we need to test a version that is part of a seamless Apply for a Blue Badge service
            <li>this version is the happy path user journey – we also need to test an unhappy path journey</li>
          </ul>



            <h2 class="govuk-heading-s">Prototype notes</h2>
            <p><a href="../../public/pdfs/version-notes/ur-notes-v1.pdf">Research notes</a></p>
            <p>
              <a href="/apply/v1/start" class="govuk-button">Open prototype</a>
            </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <!-- <span class="govuk-caption-x">v0.x</span>
            </h1>
            <h2 class="govuk-heading-s">Created: DD Month 2018</h2>
            <p>Research showed that users:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>reserach finding 1</li>
            <li>research finding 2</li>
            <li>resaerch finding 2 etc</li>
          </ul>
            <p>Significant changes:<p>
              <ul class="govuk-list govuk-list--bullet">
              <li>change 1 (e.g. Added bank details to 'Things you'll need' on start scree)</li>
              <li>change 2 etc</li>
            </ul>
            <p>Smaller changes:<p>
              <ul class="govuk-list govuk-list--bullet">
              <li>change 1 (e.g. Added bank details to 'Things you'll need' on start scree)</li>
              <li>Change 2 etc
            </ul>
            <h2 class="govuk-heading-s">Prototype notes</h2>
            <p><a href="../../public/pdfs/version-notes/notes-vx.pdf">Version notes</a></p>
            <p>
              <a href="/apply/v7/start-page-steps" class="govuk-button">Open prototype</a>
            </p> -->

          </div> <!--  govuk-details-text -->
    </div>
</div>

{% endblock %}
