
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Share information for your Blue Badge application
        <span class="govuk-caption-xl">v0.1</span>
      </h1>{{releaseVersion | log }}
      <h2 class="govuk-heading-s">Created: 16 April 2019</h2>

      <p>Changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>prototype created</li>
      </ul>

      <p>Research showed:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>finding 1</li>
        <li>finding 2</li>
        <li>finding 3</li>
        <li>finding 4 etc</li>
      </ul>

      <p>Assumptions and caveats:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>there's a user need for citizens to to view and send PIP or DLA information to their council</li>
        <li>PIP or DLA info will be available 24/7</li>
        <li>private beta will cover information sharing for a small number of councils</li>
        <li>this version is for a stand-alone service for citizens who apply for a Blue Badge using their local council's online service or paper form</li>
        <li>this version is the happy path user journey – we also need to test an unhappy path journey</li>
      </ul>



      <p>
        <a href="/apply/v1/start" class="govuk-button">Open prototype</a>
      </p>

       <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Other prototype versions
          </span>
        </summary>
        <div class="govuk-details__text">

          <span class="govuk-caption-x">v0.x</span>
            </h1>
            <h2 class="govuk-heading-s">Created: DD Month 2018</h2>
            <p>Research showed that users:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>resaerach finding 1</li>
            <li>research finding 2</li>
            <li>resaerch finding 2 etc</li>
          </ul>
            <p>Significant changes:<p>
              <ul class="govuk-list govuk-list--bullet">
              <li>change 1 (e.g. Added bank details to 'Things you'll need' on start scree)</li>
              <li>change 2 etc</li>
            </ul>
            <p>Smaller changes:<p>
              <ul class="govuk-list govuk-list--bullet">
              <li>change 1 (e.g. Added bank details to 'Things you'll need' on start scree)</li>
              <li>Change 2 etc
            </ul>
            <h2 class="govuk-heading-s">Prototype notes</h2>
            <p><a href="../../public/pdfs/version-notes/notes-vx.pdf">Version notes</a></p>
            <p>
              <a href="/apply/v7/start-page-steps" class="govuk-button">Open prototype</a>
            </p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <span class="govuk-caption-x">v0.x</span>
            </h1>
            <h2 class="govuk-heading-s">Created: DD Month 2018</h2>
            <p>Research showed that users:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>resaerach finding 1</li>
            <li>research finding 2</li>
            <li>resaerch finding 2 etc</li>
          </ul>
            <p>Significant changes:<p>
              <ul class="govuk-list govuk-list--bullet">
              <li>change 1 (e.g. Added bank details to 'Things you'll need' on start scree)</li>
              <li>change 2 etc</li>
            </ul>
            <p>Smaller changes:<p>
              <ul class="govuk-list govuk-list--bullet">
              <li>change 1 (e.g. Added bank details to 'Things you'll need' on start scree)</li>
              <li>Change 2 etc
            </ul>
            <h2 class="govuk-heading-s">Prototype notes</h2>
            <p><a href="../../public/pdfs/version-notes/notes-vx.pdf">Version notes</a></p>
            <p>
              <a href="/apply/v7/start-page-steps" class="govuk-button">Open prototype</a>
            </p>

          </div> <!--  govuk-details-text -->
    </div>
</div>

{% endblock %}
