{% extends "layout.html" %}

{% block pageTitle %}
Summary
{% endblock %}

{% block beforeContent %}
  {% include '../../includes/phase-banner.njk' %}
  {% include '../../includes/back-button.njk' %}
{% endblock %}





{% block content %}
<form class="form" action="contact-pref" method="post">

<div class="govuk-grid-row guidance-layout" style="margin-right:0; margin-left:0">
  <div class="govuk-grid-column-full">

    

        {% if data['thirdParty'] == 'yes' %}

        <h1 class="govuk-heading-l">DLA information</h1>

    </div>

    <div class="govuk-grid-column-full">
      <p class="govuk-!-margin-top-2"></p>


        <form class="form" action="summary" method="post">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Tony Smith
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  1 April 1980
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  DLA mobility rate
                </dt>
                <dd class="govuk-summary-list__value">
                  Higher
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  DLA end date
                </dt>
                <dd class="govuk-summary-list__value">
                  1 January 2019
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  DLA end date
                </dt>
                <dd class="govuk-summary-list__value">
                  1 January 2022
                </dd>
              </div>
            </dl>
    
          <p>If you continue, the Department for Work and Pensions will share this information with <strong>Rotherham Metropolitan Borough Council</strong>. No other information will be shared.</p>
    
          <p>This is so they can check elgibility for a Blue Badge.</p>
    
          <button class="govuk-button">I understand – share with the council</button>
    
        </div>
    
           

        {% else %}

        <h1 class="govuk-heading-l">Your DLA information</h1>

    </div>

    <div class="govuk-grid-column-full">
      <p class="govuk-!-margin-top-2"></p>



        <form class="form" action="summary" method="post">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Tony Smith
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  1 April 1980
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  DLA mobility rate
                </dt>
                <dd class="govuk-summary-list__value">
                  Higher
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  DLA end date
                </dt>
                <dd class="govuk-summary-list__value">
                  1 January 2019
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  DLA end date
                </dt>
                <dd class="govuk-summary-list__value">
                  1 January 2022
                </dd>
              </div>
            </dl>
    
          <p>If you continue, the Department for Work and Pensions will share this information with <strong>Rotherham Metropolitan Borough Council</strong>. No other information will be shared.</p>
    
          <p>This is so they can check if you can get a Blue Badge.</p>
    
          <button class="govuk-button">I understand – share with my council</button>
    
        </div>
    
            


        {% endif %}

   
      

  </div>


  {% endblock %}
